<%- include("partials/header.ejs") %>
  <body class="text-gray-600">
    <!-- Page layout -->
    <div class="flex">
      <!-- Nav container -->
      <%- include("partials/nav_container.ejs") %>

      <!-- Workspace container -->
      <div class="bg-slate-200 h-screen w-full pt-10">
        <!-- Workspace title -->
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-6xl font-medium">View Classes</h1>
          <button
            id="add-class-btn"
            class="my-10 bg-slate-700/80 text-slate-100 py-1 px-4 rounded-lg text-xl font-medium shadow-lg"
          >
            Add Class
          </button>
          <div id="add-class-dropdown" class="p-4 mb-5 hidden">
            <form
              action="/event"
              method="POST"
              class="flex space-x-4 items-center"
            >
              <label for="title">Class name:</label>
              <input
                required
                id="title"
                class="rounded-lg bg-slate-50 px-2"
                name="title"
                type="text"
              />
              <label for="start_time">Start time:</label>
              <input
                id="start_time"
                required
                class="rounded-lg bg-slate-50 px-2"
                name="start_time"
                type="datetime-local"
              />
              <label for="end_time">End time:</label>
              <input
                id="end_time"
                required
                class="rounded-lg bg-slate-50 px-2"
                name="end_time"
                type="datetime-local"
              />
              <input
                class="bg-slate-700/80 text-slate-100 py-1 px-4 rounded-lg font-medium shadow-lg"
                type="submit"
                value="Add"
              />
            </form>
          </div>
        </div>

        <!-- calendar -->
        <div class="flex justify-center items-center">
          <div
            class="bg-slate-300 max-w-5xl flex-1 p-4 rounded-xl shadow-2xl"
            id="calendar"
          ></div>
        </div>
      </div>
    </div>

    <!-- form -->
    <!-- <div class="flex justify-center mt-5 pb-20">
      
    </div> -->

    <script>
      const addClassBtn = document.getElementById("add-class-btn");
      addClassBtn.addEventListener("click", () => {
        document
          .getElementById("add-class-dropdown")
          .classList.toggle("hidden");

        if (
          document
            .getElementById("add-class-dropdown")
            .classList.contains("hidden")
        ) {
          addClassBtn.textContent = "Add Class";
        } else {
          addClassBtn.textContent = "Close";
        }
      });
    </script>
  </body>
</html>
