<%- include("partials/header.ejs") %>
  <body class="text-gray-600">
    <!-- Page layout -->
    <div class="flex">
      <!-- Nav container -->
      <%- include("partials/nav_container.ejs") %>

      <!-- Workspace container -->
      <div class="bg-slate-200 h-screen w-full pt-10">

        <!-- radna zona statistika -->
        <div class="flex justify-around mb-20">
          <div class="bg-slate-300 p-4 w-1/6 flex flex-col items-center shadow-lg space-y-2 rounded-lg  ">
            <p class="text-xl flex flex-col">
              <span>58</span>
              <span class="border-b-4 border-green-500 "></span>
            </p>
            <p class="text-xl flex flex-col">
              <span>250</span>
              <span class="border-b-4 border-red-500 "></span>
            </p>
            <p class="font-medium opacity-70">Students</p>
          </div>
          <div class="bg-slate-300 p-4 w-1/6 flex flex-col items-center shadow-lg space-y-2 rounded-lg  ">
            <p class="text-xl flex flex-col">
              <span>58</span>
              <span class="border-b-4 border-green-500 "></span>
            </p>
            <p class="text-xl flex flex-col">
              <span>250</span>
              <span class="border-b-4 border-red-500 "></span>
            </p>
            <p class="font-medium opacity-70">Classes</p>
          </div>
          <div class="bg-slate-300 p-4 w-1/6 flex flex-col items-center shadow-lg space-y-2 rounded-lg  ">
            <p class="text-xl flex flex-col">
              <span>58</span>
              <span class="border-b-4 border-green-500 "></span>
            </p>
            <p class="text-xl flex flex-col">
              <span>250</span>
              <span class="border-b-4 border-red-500 "></span>
            </p>
            <p class=" pt-1">Employes</p>
          </div>

          
        </div>
        <!-- calendar -->
        <div class="flex justify-center items-center">
          <div
            class="bg-slate-300 max-w-6xl flex-1 p-4 rounded-xl shadow-2xl"
            id="calendar"
          ></div>
        </div>
      </div>
    </div>

    <!-- form -->
    <!-- <div class="flex justify-center mt-5 pb-20">
      
    </div> -->

    <script>
      const addClassBtn = document.getElementById("add-class-btn");
      addClassBtn.addEventListener("click", () => {
        document
          .getElementById("add-class-dropdown")
          .classList.toggle("hidden");

        if (
          document
            .getElementById("add-class-dropdown")
            .classList.contains("hidden")
        ) {
          addClassBtn.textContent = "Add Class";
        } else {
          addClassBtn.textContent = "Close";
        }
      });
    </script>
  </body>
</html>
